.icAwarenessToolbar {
  padding: 4px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 4px;

  .eUser {
    background: var(--avatar-color, #cccccc);
    height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

    margin-left: -15px;

    color: white;
    border: 1px solid color-mix(in oklch, var(--avatar-color, #cccccc) 80%, black 20%);

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}
