.cmp-dirty-indicator {
  color: var(--tertiary-fg);
  display: flex;
  align-items: center;

  > button {
    padding: 1px 5px;
    color: var(--tertiary-fg);
  }

  .cmp-dirty-indicator__text {
    display: inline;
  }
}

@media (max-width: 1000px) {
  .cmp-dirty-indicator {
    .cmp-dirty-indicator__text {
      display: none;
    }
  }
}