/* TODO: Can we avoid having a shared .module.css files */
:global(.icObjectPicker) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;

  & svg {
    margin: 0.2rem;
    display: block;
    cursor: pointer;

    *:not(:global(.uScale), :global(.uScale) *) {
      vector-effect: non-scaling-stroke;
    }
  }
}
