.icStencilView {
  background: transparent;
}

.icIconsTabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;

  .eIconGrid {
    min-height: 12rem;

    .eIconGridInner {
      max-width: 31rem;
      margin-top: 1rem;
      max-height: 14rem;
      overflow: auto;
      gap: 10px;

      .eItem {
        cursor: pointer;
      }
    }
  }

  .ePagination {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1rem;

    .eLink {
      color: var(--cmp-fg);
      font-weight: normal;

      &[data-active='true'] {
        font-weight: bold;
      }
    }
  }

}

.icRecentStencils {
  max-width: 30rem;
}

.icSearchResults {
  max-width: 31rem;
  margin-top: 1rem;
  max-height: 14rem;
  overflow: auto;
}

.icSingleTabContent {
  height: 16rem;
}
