.icSidebar {
  --_width: 39px;

  anchor-name: --sidebar;
  anchor-scope: --sidebar;
  background: var(--panel-bg);
  width: var(--_width);

  .eExpanded {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    overflow: auto;
    position-anchor: --sidebar;

    .eResizeHandle {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 4px;
      cursor: col-resize;
      z-index: 100;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--accent-bg);
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    :global(.cTabs) > [role="tabpanel"] {
      padding: 0;
      height: initial;

      &:not(:has(.cmp-panel__headless)) {
        padding-top: 0;
      }
    }

    :global(.cToolbar) {
      background-color: var(--panel-bg);

      > div > button[data-pressed] {
        background-color: var(--accent-bg);
        color: var(--accent-fg);
      }
    }
  }

  .eBottomContainer {
    position: absolute;
    bottom: 5px;
    width: var(--_width);
    display: flex;

    > div {
      padding-bottom: 3px !important;
    }
  }

  &[data-side="left"] {
    border-right: 1px solid var(--panel-border);

    .eExpanded {
      position-anchor: --sidebar;
      left: anchor(right);
      width: calc(var(--left-indent) - 1px);
      border-right: 1px solid var(--panel-border);
    }

    .eResizeHandle {
      right: 0;
    }

    .eBottomContainer {
      left: 0;
    }
  }

  &[data-side="right"] {
    border-left: 1px solid var(--panel-border);

    .eExpanded {
      position-anchor: --sidebar;
      right: anchor(left);
      width: calc(var(--right-indent) - 1px);
      border-left: 1px solid var(--panel-border);
    }

    .eResizeHandle {
      left: 0;
    }

    .eBottomContainer {
      right: 0;
    }
  }
}
