.svg-node {
  cursor: move;
  stroke-linecap: round;
  stroke-linejoin: round;

  .svg-node__fo {
    > div {
      display: flex;
      flex-direction: column;
      height: 100%;
      cursor: move;
    }

    .svg-node__text {
      cursor: move;
      pointer-events: none;
    }
  }
}

.svg-edge-container {
  .svg-node__text {
    white-space: nowrap !important;
    width: fit-content !important;
  }
}

.svg-node--with-action .svg-node:hover {
  stroke: var(--cmp-border-focus) !important;
  stroke-width: 2px !important;
}

.browser-chrome .svg-node__text {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

/* This is for mixed foreignObject svg text situations */
.svg-node__fo--with-text {
  & > div {
    visibility: hidden;
  }
}