.textEditorDirtyIndicator {
  background-color: var(--highlight-reverse-bg);
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.textEditorContainer {
  position: absolute !important;
  border-width: 0 !important;
  inset: 0;
  position-anchor: --content;
  top: anchor(bottom);
  margin-top: -1px;
  margin-right: 1px;
  background-color: transparent !important;

  --_padding: 10px;

  .syntax-highlighter {
    border: 1px solid var(--base-bg);
  }

  textarea {
    border: 1px solid transparent !important;
  }

  /* Safari doesn't support position-anchor before v26 */
  @supports not (position-anchor: --content) {
    top: 35px;
  }
}