@import './tokens.css';

@import "./Canvas.css";

/* region Component CSS modules **************************************************************** */

@import '@diagram-craft/canvas/components/DragLabelComponent.component.css';

/* endregion */


#left-sidebar,
.icObjectPicker {
  --_canvas-fg: var(--gray-11);
  --_canvas-bg: var(--gray-4);
  --_canvas-bg2: var(--gray-3);

  --canvas-fg: var(--_canvas-fg);
  --canvas-bg: var(--_canvas-bg);
  --canvas-bg2: var(--_canvas-bg2);

  .canvas {
    background-color: transparent;
  }
}

.dark-theme #left-sidebar,
.dark-theme .icObjectPicker {
  --_canvas-bg: var(--gray-2);
}

.light-theme #left-sidebar,
.light-theme .icObjectPicker {
  --_canvas-bg: var(--gray-4);
}

/* region Base HTML element styling ************************************************************ */

#root {
  isolation: isolate;
}

.dc {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  /* TODO: This should be removed */

  #menu button:not(.embeddable-back-button),
  .cToolbar button {
    border: 1px solid transparent;
    font-family: inherit;
  }

  input, textarea {
    font-family: inherit;
  }

  body {
    margin: 0;
    padding: 0;

    --right-indent: 0;
    --left-indent: 0;

    &.hide_container {
      --container-outline: transparent;
    }

    &:not(.hide_container) {
      --container-outline: #d5d5d4;
    }
  }

  body.no-select * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
  }

  foreignObject {
    overflow: inherit;

    /* To prevent flickering in Safari */
    user-select: none;
    -webkit-user-select: none;
  }

  dd {
    margin: 0;
  }

  input[type="checkbox"] {
    margin: 0;

    -webkit-appearance: none;
    appearance: none;
    background-color: var(--cmp-bg);

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid var(--cmp-border);
    border-radius: 4px;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;

    --_fg: var(--cmp-fg);
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--_fg);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]:focus {
    box-shadow: var(--cmp-border-shadow-focus);
    outline: none;
  }

  input[type="checkbox"]:disabled {
    color: var(--cmp-fg-disabled);
    --_fg: var(--cmp-fg-disabled);
    cursor: not-allowed;
  }

  input::placeholder,
  input::-webkit-input-placeholder {
    color: var(--panel-fg);
  }

  textarea::selection,
  input::selection {
    background-color: var(--highlight-reverse-bg);
    color: var(--highlight-reverse-fg);
  }

  div[data-field-state='set'],
  button[data-field-state='set'],
  input[type="checkbox"][data-field-state='set'] {
    border: 1px solid var(--accent-border) !important;
  }

  div[data-field-state='overridden'],
  button[data-field-state='overridden'],
  input[type="checkbox"][data-field-state='overridden'] {
    background: repeating-linear-gradient(-45deg, var(--cmp-border), var(--cmp-border) 5px, var(--cmp-bg) 5px, var(--cmp-bg) 10px) !important;
  }

  table {
    border-bottom: 2px solid var(--panel-border);

    td, th {
      font-size: 11px;
      padding: 0.5rem;
    }

    thead > tr {
      border-top: 2px solid var(--panel-border);
      border-bottom: 2px solid var(--panel-border);
      background-color: var(--cmp-bg);
    }

    tbody > tr {
      border-bottom: 1px solid var(--cmp-border);
      background-color: var(--panel-bg);
    }
  }
}

/* endregion */


/* region App Layout *************************************************************************** */

#app {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-areas: "menu" "main";
  grid-template-columns: 1fr;
  grid-template-rows: 45px 1fr;
}

#window-area {
  grid-area: main;
  position: relative;
  display: grid;
  grid-template-areas:
            "left-buttons toolbar right-buttons"
            "left-buttons canvas-area right-buttons"
            "left-buttons tabs right-buttons";
  grid-template-rows: 35.5px 1fr 24px;
  grid-template-columns: 44px 5fr 44px;
}

#menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  [data-hamburger-menu] {
    margin-left: 6px;
    margin-right: 1rem;

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: -10px;
      border-right: 1px solid var(--panel-border);
    }
  }

  #document {
    margin-left: 0.25rem;
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 0.25rem;
    justify-self: center;
    color: var(--panel-fg);
  }

  #tools {
    display: flex;
    gap: 0.25rem;

    .cToolbar button {
      color: var(--base-fg-more-dim);

      &[data-pressed] {
        background-color: var(--accent-bg);
        color: var(--accent-fg);
      }

      &:hover {
        color: var(--accent-fg);
      }
    }

    > [role="toolbar"] {
      width: auto;
    }
  }

  #extra-tools {
    display: flex;
    gap: 0.25rem;
    justify-self: end;
    padding-right: 1rem;

    .cToolbar button {
      color: var(--base-fg-more-dim);

      &[data-pressed] {
        background-color: var(--accent-bg);
        color: var(--accent-fg);
      }

      &:hover {
        color: var(--accent-fg);
      }
    }
  }

  .cToolbar {
    overflow: auto;
    flex-wrap: nowrap;
    padding: 2px 2px;
  }
}

@media (max-width: 1000px) {
  #extra-tools {
    display: none !important;
  }
}

#toolbar {
  grid-area: toolbar;
  display: flex;
  background: var(--panel-bg);
  border-bottom: 1px solid var(--panel-border);
  padding-left: 0.5rem;

  & > div > span {
    display: inline;
    margin-top: -2px;
  }

  .cToggleButtonGroup > button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

#tabs {
  --_layer-indicator-width: 150px;
  grid-area: tabs;
  background: var(--panel-bg);
  border-top: 1px solid var(--panel-border);

  display: grid;
  grid-template-columns: 1fr var(--_layer-indicator-width);
}

#left-sidebar {
  grid-area: left-buttons;
}

#right-sidebar {
  grid-area: right-buttons;
}

#canvas-area {
  grid-area: canvas-area;
  position: relative;

  .canvas {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
  }
}

#ruler-h {
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#ruler-v {
  width: 15px;
  position: absolute;
  top: 0;
  left: var(--left-indent);
  bottom: 0;
  z-index: 2;

  &:after {
    content: '';
    position: absolute;
    background-color: var(--panel-bg);
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
  }
}

/* endregion */


/* region Utils ******************************************************************************** */

.util-vcenter {
  display: flex;
  align-items: center;
}

.util-hgap {
  gap: 0.25rem;
}

.util-vgap {
  gap: 0.25rem;
}

.util-font-body {
  font-size: 11px;
}

.util-vstack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.util-hstack {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.util-action {
  &:hover {
    color: var(--accent-fg-hover);
    cursor: pointer;
  }
}

.util-disable-nested-pointer-events * {
  pointer-events: none;
}

.util-draggable {
  cursor: move;
}

/* endregion */


/* region Animation **************************************************************************** */

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* endregion */


/* region Test Stuff *************************************************************************** */

.svg-node--highlight-node__edge-connect .svg-node__boundary {
  /*stroke: orange !important;
  stroke-width: 3px !important;*/
}

.svg-node--highlight-node__highlight .svg-node__boundary {
  stroke-width: 2px !important;
  stroke: var(--accent-fg) !important;
}

.svg-node--highlight-node__edge-connect---point .svg-node__boundary {
  stroke-width: 2px !important;
  stroke: var(--accent-7) !important;
  stroke-dasharray: 5 5;
}

.svg-node--highlight-node__edge-connect---anchor .svg-node__boundary {
  /*stroke-width: 3px !important;
  stroke: red !important;*/
}

.svg-node--highlight-node__edge-connect---anchor-edge .svg-node__boundary {
  /*stroke-width: 2px !important;
  stroke: var(--accent-8) !important;*/
}

.svg-node--highlight-node__edge-connect---edge > .svg-node__boundary {
  stroke-width: 2px !important;
  stroke: var(--accent-9) !important;
}

/* endregion */


/* region Hacks ******************************************************************************** */

.svg__remove {
  path:nth-child(3), path:nth-child(4) {
    stroke: #BB0000;
  }
}

.svg__insert {
  path:nth-child(3), path:nth-child(4) {
    stroke: #00BB00;
  }
}

/* endregion */
