.toolDialog {
  position: absolute;
  left: 200px;
  top: 100px;
  width: 400px;
  height: 50px;
  background: linear-gradient(var(--accent-bg-selected), var(--accent-bg));
  color: var(--accent-fg);
  font-size: 12px;
  border-bottom: 1px solid var(--accent-border);
  z-index: 10;

  .cmp-number-input {
    background: var(--accent-bg);
    border: 1px solid var(--accent-border);
  }

  .cmp-toggle-button-group {
    border: 1px solid var(--accent-border);
    background: var(--accent-border);
  }

  .cmp-toggle-button-group__item {
    background: var(--accent-bg-selected);
    color: var(--accent-fg);
    margin-left: 1px;

    &[data-state='on'] {
      color: var(--base-fg);
    }
  }

  .cmp-button--primary {
    background: var(--accent-bg);
    border: 1px solid var(--accent-border);
    outline: none;
  }

  .cmp-button--secondary {
    background: var(--accent-bg);
    color: var(--accent-fg);
    border: 1px solid var(--accent-border);
  }
}

.toolDialogContent {
  padding: 0 8px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.toolDialogTitle {
  font-weight: bold;
  font-size: 12px;
}

.toolDialogDescription {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}