.icObjectPickerPanel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .eGroup {
    width: 100%;
    anchor-scope: --picker-divider;

    div:has(> button) {
      position: relative;
    }

    button {
      & > div:first-child {
        anchor-name: --picker-divider;

        &::after {
          position: absolute;
          position-anchor: --picker-divider;

          left: calc(anchor(right) + 7px);
          top: 9px;
          right: 18px;
          content: '';
          border-bottom: 1px solid var(--base-fg-more-dim);
        }
      }

      svg {
        margin-top: 3px;
      }
    }
  }

  .eStencilList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(35px * 3), 1fr));
    gap: 0.35rem 0.75rem;

    & svg {
      margin: 0.2rem;
      display: block;
      cursor: pointer;

      *:not(:global(.uScale), :global(.uScale) *) {
        vector-effect: non-scaling-stroke;
      }
    }
  }

  .eStencilListItem {
    display: flex;
    align-items: center;
    min-width: 0;
    gap: 0.5rem;
  }

  .eStencilListIcon {
    flex: 0 0 auto;
    width: fit-content;
  }

  .eStencilListName {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
