.icCommentItem {
  padding: 12px;
  position: relative;
  color: var(--panel-fg);

  .eHeader {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--base-fg-dim);

    .eAvatar {
      height: 20px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      position: relative;
      color: var(--panel-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      cursor: pointer;
    }

    .eMenu {
      margin-left: auto;

      .eMenuButton {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--base-fg-more-dim);
        padding: 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .eContent {
    line-height: 1.4;
    word-break: break-word;
    margin: 0.25rem 0;
  }

  .eLink {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 0.5rem;
  }

  .eReply {
    display: flex;
    gap: 0.25rem;

    .eReplyTextArea {
      width: 100%;
      resize: none;
      border: none;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  &[data-state="unresolved"] {
    border: 1px solid var(--panel-border);
    border-left: 2px solid var(--accent-chroma);
    padding-left: 11px;
  }

  &[data-state="resolved"] {
    border: 1px solid var(--panel-border);
    background-color: var(--panel-bg);
  }

  &[data-state="reply"] {
    border: 1px solid var(--cmp-border);
    background-color: var(--panel-bg);
  }
}
