.icCommentsToolWindow {
  display: flex;
  flex-direction: column;
  gap: 6px;
  /*  padding: 0 0 0 10px;*/

  .eNoComments {
    text-align: center;
    color: var(--base-fg-more-dim);
    padding: 0.25rem 0;
  }

  .eGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .eTitle {
      font-weight: bold;
      color: var(--base-fg-dim);
    }

    /*
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 6px;
        }*/
  }
}
