/**
 *  DataTab - .icDataTab
 *  | Header - .eHeader
 *  | | Title - .eTitle
 *  | Message [0..1] - .eMessage
 *  | SearchControls - .eSearchControls
 */
.icDataTab {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .eHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .eTitle {
      margin: 0;
    }

    .eAddBtn {
      align-self: end;
    }
  }

  .eMessage {
    padding: 1rem;
    text-align: left;
    background-color: var(--panel-bg);
    border-radius: 6px;
    font-size: 11px;
    border-left: 4px solid var(--error-fg);

    p {
      padding: 0;
      margin: 0 0 0.5rem 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .eSearchControls {
    display: flex;
    gap: 0.5rem;
    align-items: end;
    background-color: var(--panel-bg);
    padding: 1rem;
    border-radius: var(--cmp-radius);


    .eFilterLabel {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 13px;
    }

    .eInputGroup {
      display: flex;
      gap: 0.5rem;

      .eSearchInput {
        flex: 1;
      }
    }
  }

  .eTable {
    width: 100%;
    border-collapse: collapse;

    .eOverrideStatus {
      &[data-status=modified] {
        color: var(--warning-fg);
        font-weight: 500;
      }

      &[data-status=error] {
        color: var(--error-fg);
        font-weight: 500;
      }

      &[data-status=na] {
        color: var(--base-fg-more-dim);
      }
    }

    .eActions {
      display: flex;
      gap: 4px;
    }

    input[type='checkbox'] {
      cursor: pointer;
    }
  }
}

