.tabActions {
  position: absolute;
  right: 0;
  top: 0;
  height: var(--tab-height);
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  gap: 0.5rem;
  z-index: 100;

  color: var(--base-fg-more-dim);

  > * {
    color: var(--base-fg-more-dim);
  }

  > button {
    color: var(--base-fg-dim);
  }
}

.sidebarTabsContentInner {
  position: absolute;
  inset: 0;
  overflow: scroll;
  top: calc(var(--tab-height) + 1px);
  background-color: var(--panel-bg);
}
