.searchResult {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
  cursor: pointer;
  font-size: 11px;
  border-radius: 2px;

  &:hover {
    color: var(--blue-11);
    background-color: var(--blue-4);
  }
}

.searchResultIcon {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.searchResultText {
  flex-grow: 1;
}