.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.text {
  text-align: center;
  color: var(--cmp-fg-disabled);
  font-size: 12px;
  margin: 0;
}
