.cmp-accordion {
  min-width: 10rem;

  .cmp-accordion__item {
    overflow: hidden;
    border-bottom: 1px solid var(--cmp-border);

    &:first-child {
      margin-top: 0;
    }

    &:focus-within,
    & .cmp-accordion__trigger[data-focus="true"] {
      position: relative;
      z-index: 1;
    }

    &[data-disabled] {
      .cmp-accordion__chevron {
        visibility: hidden;
      }
    }
  }

  .cmp-accordion__header {
    display: flex;
    margin: 0;

    .cmp-accordion__header_btn {
      margin-left: auto;
      margin-right: 0.5rem;
      align-items: center;
      display: flex;
      color: var(--accent-fg);

      > a, > div > a {
        display: flex;
        color: var(--cmp-fg);

        &:hover {
          color: var(--accent-fg-hover);
        }

        &[aria-disabled="true"] {
          color: var(--cmp-fg-disabled);
          pointer-events: none;
        }
      }
    }

    .cmp-accordion__trigger {
      border: none;
      font-family: inherit;
      padding: 10px 10px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      font-weight: normal;
      line-height: 1;
      color: var(--cmp-fg);
      background-color: transparent;

      &:focus,
      &[data-focus="true"] {
        outline: none;
      }

      &:hover,
      &[data-hover="true"] {
        background-color: var(--cmp-bg-hover);
      }
    }
  }

  .cmp-accordion__content {
    overflow: hidden;
    color: var(--base-fg-dim);
    background-color: var(--base-bg);
    text-align: left;

    &[data-state='open'] {
      animation: slideDown 150ms cubic-bezier(0.87, 0, 0.13, 1);
      border-top: 1px solid var(--cmp-border);
    }

    &[data-state='closed'] {
      height: 0;
      animation: slideUp 150ms cubic-bezier(0.87, 0, 0.13, 1);
    }
  }

  .cmp-accordion__content_text {
    font-size: 11px;
    padding: 10px;

    > .cmp-tree {
      margin: -5px -10px;
    }

    > .cmp-accordion {
      margin: -5px -10px;

      .cmp-accordion__trigger {
        font-weight: normal;
      }

      .cmp-accordion__chevron {
        color: var(--panel-fg);

        &:hover {
          color: var(--accent-fg-hover);
        }
      }
    }
  }

  .cmp-accordion__chevron {
    color: var(--cmp-fg);
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  .cmp-accordion__trigger[data-state='open'] > .cmp-accordion__chevron {
    transform: rotate(180deg);
  }
}
