.cmp-collapsible {
  min-width: 10rem;

  .cmp-collapsible__trigger {
    position: relative;
    z-index: 5;
    color: var(--secondary-fg);

    .cmp-collapsible__trigger_inner {
      width: 100%;
      background-color: transparent;
      padding: 0;
      align-items: center;
      gap: 0.125rem;
      font-size: 11px;
      color: var(--secondary-fg);
      display: flex;
      justify-content: space-between;


      &:hover {
        color: var(--cmp-fg);
      }

      & > div:nth-child(2) {
        margin-left: auto;
      }
    }
  }

  .cmp-collapsible__content {
    margin-top: 0.5rem;
    will-change: height;
    margin-left: 1px;
    color: var(--tertiary-fg);
    overflow: hidden;

    &[data-state='open'] {
      animation: slideDownCollapsible 200ms ease-in-out;
    }

    &[data-state='closed'] {
      animation: slideUpCollapsible 200ms ease-in-out;
    }
  }
}


@keyframes slideDownCollapsible {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUpCollapsible {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}