/**
 *  Collapsible - .cAccordion
 *  | Trigger - .eTrigger
 *  | | TriggerInner - .eTriggerInner
 *  | Content - .eContent
 */
.cCollapsible {
  /* Default value */
  --collapsible-panel-height: 1rem;

  min-width: 10rem;

  .eTrigger {
    position: relative;
    z-index: 5;
    color: var(--base-fg-dim);

    .eTriggerInner {
      width: 100%;
      background-color: transparent;
      padding: 0;
      align-items: center;
      gap: 0.125rem;
      font-size: 11px;
      color: var(--base-fg-dim);
      display: flex;
      justify-content: space-between;

      &[data-panel-open],
      &:hover {
        color: var(--cmp-fg);
      }

      & > div:nth-child(2) {
        margin-left: auto;
      }
    }
  }

  /* TODO: Remove the :local when we move to local names */

  :local(.eContent) {
    margin-top: 0.5rem;
    will-change: height;
    margin-left: 1px;
    overflow: hidden;
    height: var(--collapsible-panel-height);

    transition: all 200ms ease-out;

    &[data-starting-style],
    &[data-ending-style] {
      height: 0;
    }
  }
}
