.cmp-collapsible {
  min-width: 10rem;

  .cmp-collapsible__trigger {
    position: relative;
    z-index: 5;
    color: var(--base-fg-dim);

    .cmp-collapsible__trigger_inner {
      width: 100%;
      background-color: transparent;
      padding: 0;
      align-items: center;
      gap: 0.125rem;
      font-size: 11px;
      color: var(--base-fg-dim);
      display: flex;
      justify-content: space-between;

      &[data-panel-open],
      &:hover {
        color: var(--cmp-fg);
      }

      & > div:nth-child(2) {
        margin-left: auto;
      }
    }
  }

  .cmp-collapsible__content {
    margin-top: 0.5rem;
    will-change: height;
    margin-left: 1px;
    overflow: hidden;
    padding-left: 0.5rem;
    border-left: 4px solid var(--cmp-border);
    height: var(--collapsible-panel-height);

    transition: all 200ms ease-out;

    &[data-starting-style],
    &[data-ending-style] {
      height: 0;
    }
  }
}
