.cKeyValueTable {
  display: grid;
  grid-template-columns: 4rem 2fr;
  row-gap: 0.5rem;
  align-items: center;

  .eLabel {
    display: flex;
    align-items: center;
    font-size: 11px;
  }

  .eValue {
    /* This is intentionally empty */
  }

  .eRow {
    grid-column: 1/3;
    margin-bottom: -2px;
  }

  &[data-type="wide"] {
    grid-template-columns: 1fr 5rem !important;
  }

  &[data-type="inline"] {
    grid-template-rows: min-content min-content;
    row-gap: 0.25rem;

    .eLabel, dt {
      grid-column: 2/3;
    }

    .eValue, dd {
      grid-column: 2/3;
      margin-bottom: 0.25rem
    }
  }
}