/**
 *  Menu - .cMenu
 *  | Separator [0..*] - .eSeparator
 *  | Item [1..*] - .eItem - data-type {regular,checkbox,radio,submenu-trigger}
 *  | | LeftSlot - .eItemLeftSlot
 *  | | RightSlot - .eItemRightSlot
 *  | Arrow - .eArrow
 */
.cMenu {
  min-width: 220px;
  background-color: var(--cmp-bg);
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  box-shadow: var(--popover-shadow);
  border: 1px solid var(--cmp-border);
  z-index: 250;

  .eItem {
    font-size: 11px;
    line-height: 1;
    color: var(--cmp-fg);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 5px 0 25px;
    position: relative;
    user-select: none;
    outline: none;

    .eItemLeftSlot {
      position: absolute;
      left: 0;
      width: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--accent-fg);

      &[data-checked] {
        color: var(--cmp-fg);
      }
    }

    .eItemRightSlot {
      display: flex;
      gap: 0.25rem;
      margin-left: auto;
      padding-left: 20px;
      color: var(--accent-fg);
    }

    &[data-disabled] {
      color: var(--cmp-fg-disabled);
      pointer-events: none;
    }

    &[data-highlighted] {
      background-color: var(--accent-bg-selected);
    }

    &[data-type='submenu-trigger'][data-popup-open] {
      background-color: var(--accent-bg-selected);
      color: var(--panel-fg);
    }

    &[data-highlighted] > .eItemRightSlot {
      color: var(--accent-fg);
    }

    &[data-disabled] .eItemLeftSlot,
    &[data-disabled] .eItemRightSlot {
      color: var(--cmp-fg-disabled);
    }
  }

  .eSeparator {
    height: 1px;
    background-color: var(--cmp-border);
    margin: 5px;
  }

  .eArrow {
    --_size: 5px;

    background: transparent;

    width: 0;
    height: 0;

    border-left: var(--_size) solid transparent;
    border-right: var(--_size) solid transparent;
    border-bottom: var(--_size) solid var(--cmp-bg);

    display: flex;

    &[data-side='top'] {
      bottom: calc(-1 * var(--_size) + 1px);
      rotate: 180deg;
    }

    &[data-side='bottom'] {
      top: calc(-1 * var(--_size) + 1px);
    }

    &[data-side='left'] {
      right: calc(-1 * var(--_size) - 1px);
      rotate: 90deg;
    }

    &[data-side='right'] {
      left: calc(-1 * var(--_size) - 1px);
      rotate: -90deg;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
