.cmp-popover {
  border-radius: 4px;
  padding: 20px;
  width: 300px;
  background-color: var(--panel-bg);
  box-shadow: var(--popover-shadow);
  will-change: transform, opacity;
  z-index: 100;
  color: var(--panel-fg);
  font-size: 12px;
  margin-right: 0.2rem;

  transform-origin: var(--transform-origin);
  transition: transform cubic-bezier(0.16, 1, 0.3, 1) 300ms,
  opacity cubic-bezier(0.16, 1, 0.3, 1) 300ms;

  height: var(--popup-height, auto);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  .cmp-panel__enabled:focus {
    box-shadow: none;
    outline: none;
  }

  &[data-open][data-side='top'] {
    animation-name: slideDownAndFade;
  }

  .cmp-popover__arrow {
    background: transparent;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid var(--panel-bg);

    display: flex;

    &[data-side='bottom'] {
      top: -5px;
      rotate: 0deg;
    }
  }

  .cmp-popover__close {
    font-family: inherit;
    background: transparent;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    color: var(--accent-fg);
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 200;
    border: none;

    &:hover {
      color: var(--accent-fg);
    }

    &:focus {
      color: var(--accent-fg);
    }
  }

  & h2:first-of-type {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
    text-align: left;
  }
}

