/**
 *  SelectTrigger - .cSelectTrigger
 *  | Icon - .eIcon
 *
 *  Under portal:
 *
 *  SelectContent - .cSelectContent
 *  | List - .eList
 *  | | Item [0..*] - .eItem
 *  | | | Text - .eItemText
 *  | | | Indicator - .eItemIndicator
 */

:global(.cSelectTrigger) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--cmp-radius);
  padding: 0 5px;
  font-size: 11px;
  line-height: 1;
  height: 25px;
  gap: 5px;
  border: 1px solid var(--cmp-border);
  background-color: var(--cmp-bg);
  color: var(--cmp-fg);

  .eValue {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .eIcon {
    flex-shrink: 0;
    color: var(--base-fg-dim);
    margin-left: auto;
  }

  svg {
    stroke: var(--base-fg-dim);
  }

  &:hover:not(:disabled),
  &[data-hover="true"] {
    background-color: var(--cmp-bg-hover);
  }

  &:focus:not(:disabled),
  &[data-focus="true"] {
    outline: none;
    box-shadow: var(--cmp-border-shadow-focus);
  }

  &:disabled {
    color: var(--cmp-fg-disabled);
  }
}

.cSelectContent {
  overflow: hidden;
  color: var(--cmp-fg);
  background-color: var(--cmp-bg);
  z-index: 600;
  border-radius: 6px;
  box-shadow: var(--popover-shadow);

  .eList {
    padding: 5px;

    .eItem {
      font-size: 11px;
      line-height: 1;
      border-radius: 3px;
      display: flex;
      align-items: center;
      height: 25px;
      padding: 0 35px 0 25px;
      position: relative;
      user-select: none;

      .eItemIndicator {
        position: absolute;
        left: 0;
        width: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      &[data-disabled] {
        color: var(--cmp-fg-disabled);
        pointer-events: none;
      }

      &[data-highlighted] {
        outline: none;
        background-color: var(--accent-bg-selected);
      }
    }
  }

  svg {
    stroke: var(--cmp-fg);
  }
}
