/**
 *  Tabs - .cTabs
 *  | List - .eList
 *  | | Trigger [1..*] - .eTrigger
 *  | Content [1..*] - .eContent
 */
:global(.cTabs) {
  display: flex;
  flex-direction: column;
  width: 100%;

  --tab-height: 34.5px;

  .eList {
    font-family: inherit;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    background-color: var(--panel-bg);
    border-bottom: 1px solid var(--panel-border);
    height: var(--tab-height);

    display: flex;
    gap: 5px;
    width: 100%;
    position: relative;

    .eTrigger {
      font-size: 12px;
      padding: 7.75px 9px;
      background: none;
      color: var(--panel-fg);
      border-width: 0;
      position: relative;
      border-bottom: 2px solid transparent;

      &[data-active] {
        border-bottom: 2px solid var(--accent-chroma);
      }

      &:disabled {
        color: var(--cmp-fg-disabled);
      }
    }
  }

  .eContent {
    padding: 0.5rem 0;
    height: 12rem;

    &:focus-visible {
      outline: none;
    }
  }
}
