/**
 *  TextArea - .cTextArea
 *  | TextArea - .eTextArea
 *
 *  TextAreaMaximizedContent - .cTextAreaMaximizedContent
 */
.cTextArea {
  position: relative;
  border-radius: var(--cmp-radius);
  background-color: var(--cmp-bg);
  color: var(--cmp-fg);
  border: 1px solid var(--cmp-border);
  padding: 1px 0 0 3px;
  line-height: 1;

  .eTextArea {
    color: var(--panel-fg);
    border: none;
    background: none;
    font-size: 11px;
    width: calc(100% - 5px);

    &:focus,
    &[data-focus="true"] {
      outline: none;
    }

    &:disabled {
      color: var(--cmp-fg-disabled);
    }
  }

  &:focus-within,
  &:has(*[data-focus="true"]) {
    box-shadow: var(--cmp-border-shadow-focus) !important;
  }

  &[data-error='true'] {
    color: var(--error-fg);

    > textarea {
      color: var(--error-fg);
    }
  }

  &:has(> .eTextArea:disabled) {
    border-color: transparent;
  }
}


.cTextAreaMaximizedContent {
  .cTextArea {
    height: 100%;
  }

  .eTextArea {
    height: calc(100% - 5px) !important;
  }
}
