.cmp-text-area {
  border-radius: var(--cmp-radius);
  background-color: var(--cmp-bg);
  color: var(--cmp-fg);
  border: 1px solid var(--cmp-border);
  padding: 1px 0 0 3px;
  line-height: 1;

  &:focus-within,
  &:has(*[data-focus="true"]) {
    box-shadow: var(--cmp-border-shadow-focus) !important;
  }

  &[data-error='true'] {
    color: var(--error-fg);

    > textarea {
      color: var(--error-fg);
    }
  }

  &:has(> textarea:disabled) {
    border-color: transparent;
  }

  > textarea {
    color: var(--panel-fg);
    border: none;
    background: none;
    font-size: 11px;
    width: calc(100% - 5px);

    &:focus,
    &[data-focus="true"] {
      outline: none;
    }

    &:disabled {
      color: var(--cmp-fg-disabled);
    }
  }
}

.cmp-text-area__resize {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.125rem;
  background: transparent;
  color: var(--cmp-fg-dimmed);
  display: flex;
  align-Items: center;
  justify-content: center;
  z-index: 200;
  cursor: pointer;

  &:hover {
    color: var(--cmp-fg);
  }
}

.cmp-text-area__max_dialog {
  .cmp-dialog__content {
    max-width: 100vw;
    max-height: 100vh;

    left: 0;
    top: 46px;
    bottom: 0;
    right: 0;
    transform: none;

    & > div {
      height: 100%;

    }

    textarea {
      height: calc(100% - 5px) !important;
    }

    animation: none;
    padding: 10px 15px 80px 15px;
  }

  .cmp-dialog__description {
    height: 100%;
  }

  .cmp-dialog__description > * {
    height: 100%;
  }
}