.cmp-text-area {
  border-radius: var(--cmp-radius);
  background-color: var(--cmp-bg);
  color: var(--cmp-fg);
  border: 1px solid var(--cmp-border);
  padding: 1px 0 0 3px;
  line-height: 1;

  &:focus-within,
  &:has(*[data-focus="true"]) {
    box-shadow: var(--cmp-border-shadow-focus) !important;
  }

  &[data-error='true'] {
    color: var(--error-fg);

    > textarea {
      color: var(--error-fg);
    }
  }

  &:has(> textarea:disabled) {
    border-color: transparent;
  }

  > textarea {
    color: var(--panel-fg);
    border: none;
    background: none;
    font-size: 11px;
    width: calc(100% - 5px);

    &:focus,
    &[data-focus="true"] {
      outline: none;
    }

    &:disabled {
      color: var(--cmp-fg-disabled);
    }
  }
}
