.cmp-tooltip {
  border-radius: var(--cmp-radius);
  padding: 10px 10px;
  font-size: 11px;
  background-color: var(--panel-bg);
  color: var(--panel-fg);

  box-shadow: var(--popover-shadow);
  user-select: none;

  animation-name: overlayShow;
  animation-duration: 250ms;
  will-change: opacity;

  z-index: 500;

  .cmp-tooltip__arrow {
    background: transparent;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid var(--panel-bg);

    display: flex;

    &[data-side='bottom'] {
      top: -5px;
      rotate: 0deg;
    }
  }
}