.screen {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.header {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.count {
  color: var(--base-fg-more-dim);
  font-family: var(--font-mono);
  font-variant-numeric: tabular-nums;
}

.schemaSelect {
  min-width: 220px;
}
