.stylesheetGroup {
  margin-bottom: 0.5rem;
}

.styleSelect {
  padding: 0.5rem;
  border-bottom: 1px solid var(--cmp-border);

  .cmp-select-trigger {
    width: 100%;
  }
}

.styleTooltip {
  white-space: pre-line;
  font-family: monospace;
  font-size: 10px;
}

.styleList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 -0.25rem;

  .stylesheetName {
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--base-fg);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .styleItem {
    display: grid;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    transition: background-color 0.1s;
    padding: 0.375rem;

    grid-template-columns: 35px 1fr;

    &:hover {
      color: var(--accent-fg-hover);
      background-color: var(--accent-bg);
    }

    .stylePreview {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;

      > div {
        width: 35px;
        height: 35px;
        overflow: hidden;
        border-radius: 2px;
      }

      & .svg-node {
        cursor: pointer !important;
      }

      & svg {
        cursor: pointer !important;
      }
    }

    .styleInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0.25rem;
      gap: 0.125rem;

      .styleName {
        font-size: 0.625rem;
        color: var(--base-fg);
      }

      .styleAux {
        font-size: 0.625rem;
        color: var(--base-fg-dim);
      }
    }

  }
}
