.stylesheetGroup {
  margin-bottom: 0.5rem;
}

.styleSelect {
  padding: 0.5rem;
  border-bottom: 1px solid var(--cmp-border);

  .cmp-select-trigger {
    width: 100%;
  }
}

.styleTooltip {
  white-space: pre-line;
  font-family: monospace;
  font-size: 10px;
}

.styleList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
  gap: 0.5rem;
  padding: 0.25rem 0;

  .stylesheetName {
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--base-fg);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .styleItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    position: relative;

    &:hover .stylePreview {
      outline: 2px solid var(--accent-fg);
      outline-offset: 2px;
    }

    .stylePreview {
      width: 35px;
      height: 35px;
      border-radius: 2px;
      overflow: hidden;
      background-color: var(--canvas-bg);
      transition: outline 0.1s;
      cursor: pointer;

      & .svg-node {
        cursor: pointer !important;
      }

      & svg {
        cursor: pointer !important;
      }
    }

    .styleInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.125rem;

      .styleCount {
        font-size: 0.625rem;
        color: var(--base-fg-dim);
        text-align: center;

        .styleDirty {
          color: var(--accent-fg);
          font-weight: bold;
          margin-left: 0.125rem;
        }
      }
    }

  }
}

.fontList {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-top: -5px;

  .fontItem {
    color: var(--cmp-fg);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.375rem 10px;
    cursor: pointer;
    font-size: 11px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 4px;
    transition: background-color 0.1s;
  }

  .fontItem:hover {
    color: var(--accent-fg-hover);
    background-color: var(--accent-bg);
  }

  .fontIcon {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    opacity: 0.7;
  }

  .fontDetails {
    min-width: 0;
  }

  .fontPreview {
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fontCount {
    font-size: 10px;
    opacity: 0.6;
    line-height: 1.2;
  }

  .fontDirty {
    color: var(--accent-fg);
    font-weight: bold;
    margin-left: 0.125rem;
  }
}
