name: UI Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  ui-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.3.0
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Setup Playwright
        id: setup-playwright
        uses: ./.github/actions/setup-playwright
        with:
          working-directory: ./packages/test-ui-boolean-ops

      - name: UI Test Boolean Ops
        run: npx playwright test --reporter=html
        working-directory: ./packages/test-ui-boolean-ops

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: packages/test-ui-boolean-ops/playwright-report/
          retention-days: 30
