:root {
  font-family: -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

#menu {
  app-region: drag;
  background: #373737 !important;

  button {
    app-region: no-drag;
  }
}

#menu ._menu-button {
  > * {
    display: none !important;
  }

  background-color: transparent !important;
  border: none !important;
  min-width: 60px;
}

#menu {
  .cmp-toolbar__button[data-state='on'] {
    background-color: #4F4F4F !important;
    color: #F3F3F3 !important;
  }

  .cmp-toolbar__button:hover, .cmp-toolbar__button:focus {
    background-color: #4F4F4F !important;
    color: #F3F3F3 !important;
  }

  .cmp-toolbar__button:focus, .cmp-toolbar__button[data-focus="true"] {
    box-shadow: none !important;
    color: #F3F3F3 !important;
  }

  .cmp-toolbar__separator {
    background-color: #3F3F3F !important;
  }
}

body.fullscreen #menu ._menu-button {
  display: none;
}

body.fullscreen ._tools {
  margin-left: 0.4rem;
}