:root {
  font-family: -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

#menu {
  app-region: drag;
  background: #373737 !important;

  button {
    app-region: no-drag;
  }
}

#main-menu {
  > * {
    display: none !important;
  }

  background-color: transparent !important;
  border: none !important;
  min-width: 60px;
}