.icRuleEditorDialog {
  .eContent {
    display: grid;
    gap: 0.5rem;
    min-width: 35rem;
    grid-template-columns: 1fr max-content;
  }

  .eTypeButton {
    display: flex;
    gap: 0.5rem;
  }
}
