.ruleEditor__container {
  display: grid;
  gap: 0.5rem;
  min-width: 35rem;
  grid-template-columns: 1fr max-content;
}

.ruleEditor__typeButtonContainer {
  display: flex;
  gap: 0.5rem;
}

.ruleEditor__sectionTitle {
  margin: 1rem 0 0 0;
}

.ruleEditor__clauseList {
  margin: 0.5rem -0.5rem 0.5rem -0.5rem;
  padding: 2px 0.5rem 0 0.5rem;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--base-fg-more-dim) var(--panel-bg);
  max-height: 20rem;
  overflow-y: auto;
}

.ruleEditor__clause {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "select select props buttons" "empty extra extra extra";
  grid-template-columns: 1rem max-content 1fr max-content;
  grid-template-rows: min-content max-content;
}

.ruleEditor__subClause {
  grid-area: extra;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.ruleEditor__actionSection {
  margin: 0.5rem 0 2rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 8rem 1fr max-content;
}

.ruleEditorClause__select {
  grid-area: select;
}

.ruleEditorClause__props {
  grid-area: props;
}

.ruleEditorClause__propsRow {
  display: flex;
  gap: 0.5rem;
}

.ruleEditorClause__queryTextArea {
  min-height: 3rem;
  resize: vertical;
}

.ruleEditorClause__anyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.ruleEditorClause__anyLine {
  align-self: center;
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--cmp-border);
}

.ruleEditorClause__buttons {
  grid-area: buttons;
}